.card-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.card {
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    padding: 20px;
}

.card .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card .card__header .icon {
    width: 40px;
    height: 40px;
}

.card .card__header .icon img {
    width: 100%;
}

.card .card__header .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b1f3b;
}

.card .card__header .timer .icon {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
}

.card .card__number {
    margin-bottom: 10px;
    font-weight: normal;
    color: #1b1f3b;
}

.card .card__owner {
    margin-bottom: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #1b1f3b;
}

.card .card__owner .info {
    color: #3aa981;
    margin-left: 10px;
    cursor: pointer;
}

.card .card__description {
    margin-bottom: 15px;
    color: #D9D9D9;
    font-weight: normal;
}