.switcher {
    padding: 12px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 14px;
    color: #1b1f3b;
}

.switcher .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    margin-right: 15px;
}

.switcher .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switcher .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ece9ff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switcher .switch .slider:hover {
    background-color: #dee1f7;
}

.switcher .switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switcher .switch input:checked + .slider {
    background-color: #526ED3;
}

.switcher .switch input:focus + .slider {
    box-shadow: 0 0 1px #526ED3;
}

.switcher .switch input:checked + .slider:before {
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
